name: Build and Deploy

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./aws-devops-dashboard
          push: true
          tags: minhtri2582/aws-devops:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    needs: build-and-push
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up kubectl
        uses: azure/k8s-set-context@v3
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBECONFIG }}

      - name: Deploy to K3s
        run: |
          kubectl apply -f aws-devops-dashboard/k8s/secret.yaml
          kubectl apply -f aws-devops-dashboard/k8s/deployment.yaml
          kubectl apply -f aws-devops-dashboard/k8s/service.yaml
          kubectl apply -f aws-devops-dashboard/k8s/ingress.yaml
          kubectl rollout restart deployment/aws-devops-dashboard -n default
